*{
    padding: 0;
    margin: 0;

}
body{
    background-color:rgb(255,224,0) ;
}
.header-top{
    background-color:rgba(255, 255, 255,0.5);
    padding: 10px;
    display: flex;
    flex-direction:row;
}

.link{
    color: #FF8B00;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

}
.left-link{
    text-transform: capitalize;
    font-size: 20px;
    text-decoration: underline;
}

.header-top-left{
    width: 70%;
}
.header-top-right{
    width: 20%;
    display: flex;
}

.header-top-right a{
    margin-left: 20px;
}
.header-bottom{
    background-color: rgba(255, 255, 255, 0.249);
    display: flex;
    padding: 20px;
}

.left{
    width: 30%;
}
.right{
    width: 70%;
    display: flex;
}
.special{
    margin-right: 20px;
    background-color: #AAD81A;
    padding: 12px;
    border-radius: 30px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    
}
.btn-parent{
    background-color: #00C3F7;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 6px solid #00A0D1;
}