*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #FFE000;
}
header{
    height: 30vh;
}
.top-banner{
    background-color: #FFF18B;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.top-banner a{
    color: #FF8B00;
}
.top-banner-left{
    font-size: 16px;
    width: 80%;
    font-weight: bold;
}

.top-banner-right{
    width: 20%;
}
.top-banner-right a{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar{
    display: flex;
    background-color: #FFE94D;    
}
.navbar-left{
    width: 40%;
    padding:20px;

}
.btn-blue{
    background-color: #00C3F7;
    margin-top: 10px;
    padding: 15px;
    color: white;
    border: 2px solid white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-right{
    width: 60%;
    padding: 10px;
    display: flex;
}
.btn-special{
    padding:12px;
    width: 10%;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #AAD81A;
    border-radius: 30px;
    border: 2px solid white;
}
.nav-text{
    margin-left: 20px;
}
.logo{
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow:0  1px 1px black;
    text-align: center;
}
.container{
    width: 80%;
    margin: auto;
}
.showcase{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.card{
    padding: 5px;
    background-color: white;
    margin: 5px;
    cursor: pointer;
}
.card:hover{
    transform: scale(1.2);
    transition:transform 1s;
}
.games{
    min-height: 50vh;

}
.games-intro{
     text-align: center;
     color: white;
     text-shadow: 0 2px 2px black;
}
.cards{
    min-height: 40vh;
    display: flex;
    flex-wrap: wrap;
    margin: 80%;
    margin: auto;
}
.card-lg{
    width: 30%;
    background-color: white;
    min-height: 200px;
    margin-left: 10px;
    margin-top: 10px;
}
